.table-container {
    margin: 20px 50px;
    max-width: auto;
    overflow-x: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #fff;
    padding: 20px;
  }
  
  .screener-table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .screener-table th,
  .screener-table td {
    padding: 15px;
    text-align: left;
  }
  
  .screener-table thead {
    background-color: #343a40;
    color: white;
  }
  
  .screener-table th {
    font-weight: bold;
    font-size: 1.1em;
  }
  
  .screener-table tbody tr:nth-child(odd) {
    background-color: #f8f9fa;
  }
  
  .screener-table tbody tr:nth-child(even) {
    background-color: #e9ecef;
  }
  
  .screener-table tbody tr:hover {
    background-color: #ced4da;
  }
  
  .screener-table td {
    color: #495057;
    border-bottom: 1px solid #dee2e6;
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .pagination button {
    padding: 10px 20px;
    margin: 0 5px;
    border: none;
    background-color: #343a40;
    color: white;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .pagination button:disabled {
    background-color: #6c757d;
    cursor: not-allowed;
  }
  
  .pagination span {
    margin: 0 10px;
    font-size: 1.1em;
  }
  