/* earning.component.scss */

#myChart {
  width: 100%;
  max-width: 800px; /* Adjust the max-width as needed */
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(179, 200, 218, 0.1);
}

.chart{
  margin-left: 30%;
  margin-top: 2%;

}

input[type="checkbox"] {
  margin-left: 15px;
}
