<div style="display: block;">
  <div class="button-group">
    <button (click)="updateChart('1 Day')">1 D</button>
    <button (click)="updateChart('1 Week')">1 W</button>
    <button (click)="updateChart('1 Month')">1 M</button>
    <button (click)="updateChart('3 Months')">3 M</button>
  </div>

  <canvas baseChart
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [colors]="barChartColors"
          [legend]="barChartLegend"
          [chartType]="barChartType">
  </canvas>
</div>
