.center-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
 
  color: white;

}

.form-container {
  width: 700px;
  height: 400px;
  padding: 20px;
  border: 1px solid #ccc; /* Optional: Add border for visualization */
}
.buy-button,
.sell-button,
.cancel-button{
  width: 10%;
}
.button-col {
  display: flex;
  justify-content: flex-end;
}

.buy-button,
.cancel-button {
  margin-left: 10px;
  
}
.box{
  width: 700px;
  height: 70px;
  background-color: rgb(5, 240, 5);
}