<ion-header>
  <app-ribbon></app-ribbon>
</ion-header>

<ion-content class="cl1">
  <ion-segment [(ngModel)]="selectTabs">
    <ion-segment-button value="recent">
      <ion-label>List View</ion-label>
    </ion-segment-button>
    <ion-segment-button value="missed">
      <ion-label>Chart View</ion-label>
    </ion-segment-button>
    <ion-segment-button value="contact">
      <ion-label>Tile View</ion-label>
    </ion-segment-button>
    <ion-segment-button value="contacts">
      <ion-label>Research</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div *ngIf="selectTabs === 'missed'" class="chart-container">
    <div class="tab-buttons">
      <button (click)="setTabe('live')" [class.active]="selectedTabe === 'live'">Live</button>
      <button (click)="setTabe('historical')" [class.active]="selectedTabe === 'historical'">Historical</button>
    </div>
    <div *ngIf="selectedTabe === 'live'">
      <app-stockmarket></app-stockmarket>
    </div>
    
    <!-- Content for Historical Data -->
    <div *ngIf="selectedTabe === 'historical'">
      <app-analysis></app-analysis>
     
    </div>

  </div>

  <div *ngIf="selectTabs === 'recent'" >
    <div class="tab" >
      <button class="tablinks" (click)="openTab($event, 'watchlist')">Watchlist</button>
      <button class="tablinks" (click)="openTab($event, 'gainer')">Top Gainer</button>
      <button class="tablinks" (click)="openTab($event, 'loser')">Top Loser</button>
      <button class="tablinks" (click)="openTab($event, 'index')">Indices & Sector</button>
    </div>

 
      <div id="watchlist" class="tabcontent" style="display: block;" >
        <div class="container-watchlist" [ngClass]="{'dark': isDarkMode}">
          <!-- Watchlist Section -->
          <div *ngIf="watchlist.length > 0" class="watchlist-container" >
            <div class="trend-stocks-card watchlist-card">
              <div class="card-header card">
                <h3 class="text-center">Watchlist</h3>
              </div>
              <div class="card-body"  >
                <div class="table-responsive" [class.dark]="isDarkMode">
                  <table class="watchlist-table" >
                    <thead>
                      <tr>
                        <th>Symbol</th>
                        <th>Open</th>
                        <th>High</th>
                        <th>Low</th>
                        <th>Close</th>
                        <th>Volume</th>
                        <th>Actions</th>
                      </tr>
                    </thead>
                    <tbody [ngClass]="{'dark': isDarkMode}">
                      <tr *ngFor="let stock of watchlist">
                        <td (click)="setClickedStock(stock.symbol)">{{ stock.symbol }}</td>
                        <td>{{ stock.open.toFixed(2) }}</td>
                        <td>{{ stock.high.toFixed(2) }}</td>
                        <td>{{ stock.low.toFixed(2) }}</td>
                        <td>{{ stock.close.toFixed(2) }}</td>
                        <td>{{ stock.volume.toFixed(2) }}</td>
                        <td>
                          <button class="btn btn-danger btn-sm" (click)="onDeleteStock(stock)">
                            Delete
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
      
          <!-- Trend Stocks Section -->
          <div *ngIf="email && unstoredStocks.length > 0" class="trend-stocks-container">
            <div class=" trend-stocks-card">
              <div class="card-header card">
                <h3 class="text-center">Trend Stocks</h3>
              </div>
              <div class="card-body" [class.dark]="isDarkMode">
                <div class="form-group" >
                  <input type="text" class="form-control" placeholder="Filter by Symbol" [(ngModel)]="filterText" 
                    (input)="filterUnstoredStocks()" />
                </div>
                <div class="table-responsive" [class.dark]="isDarkMode">
                  <table class="watchlist-table">
                    <thead>
                      <tr>
                        <th>Symbol</th>
                        <th>Open</th>
                        <th>High</th>
                        <th>Low</th>
                        <th>Close</th>
                        <th>Volume</th>
                        <th>Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let stock of filteredUnstoredStocks">
                        <td (click)="setClickedStock(stock.symbol)" style="cursor: pointer; color: rgb(242, 58, 70);">
                          {{ stock.symbol }}
                        </td>
                        <td>{{ stock.stock[0].Open.toFixed(2) }}</td>
                        <td>{{ stock.stock[0].High.toFixed(2) }}</td>
                        <td>{{ stock.stock[0].Low.toFixed(2) }}</td>
                        <td>{{ stock.stock[0].Close.toFixed(2) }}</td>
                        <td>{{ stock.stock[0].Volume.toFixed(2) }}</td>
                        <td>
                          <button class="btn btn-success btn-sm" (click)="onAddStock(stock)">
                            Add
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
      
          <!-- Most Active Stocks Section -->
          <div *ngIf="!email && unstoredStocks.length > 0" class="trend-stocks-container">
            <div class="trend-stocks-card trend-stocks-card">
              <div class="card-header card">
                <h3 class="text-center">Most Active Stocks</h3>
              </div>
              <div class="card-body">
                <div class="form-group" >
                  <input type="text" class="form-control" placeholder="Filter by Symbol" [(ngModel)]="filterText" 
                    (input)="filterUnstoredStocks()" />
                </div>
                <div class="table-responsive">
                  <table class="trend-stocks-table">
                    <thead>
                      <tr>
                        <th>Symbol</th>
                        <th>Open</th>
                        <th>High</th>
                        <th>Low</th>
                        <th>Close</th>
                        <th>Volume</th>
                        <!-- <th>Actions</th> -->
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let stock of filteredUnstoredStocks.slice(0, 2)">
                        <td (click)="setClickedStock(stock.symbol)" style="cursor: pointer; color: rgb(242, 58, 70);">
                          {{ stock.symbol }}
                        </td>
                        <td>{{ stock.stock[0].Open.toFixed(2) }}</td>
                        <td>{{ stock.stock[0].High.toFixed(2) }}</td>
                        <td>{{ stock.stock[0].Low.toFixed(2) }}</td>
                        <td>{{ stock.stock[0].Close.toFixed(2) }}</td>
                        <td>{{ stock.stock[0].Volume.toFixed(2) }}</td>
                       
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    
  
      
      <div id="gainer" class="tabcontent">

          <div>
            <!-- Radio buttons to toggle between chart and  table -->
            <label>
              <input type="radio" name="toggleGainer" [(ngModel)]="viewGainer" value="chart"> Chart
            </label>
            <label>
              <input type="radio" name="toggleGainer" [(ngModel)]="viewGainer" value="table"> Table
            </label>
          </div>

           <!-- Chart for Gainers -->
    <div *ngIf="viewGainer === 'chart'" style="width: 800px; height: 400px; background-color: black; margin-left: 25%; color: white;">
      <canvas baseChart [datasets]="gainerChartData" [labels]="gainerChartLabels" [chartType]="'horizontalBar'"
        [options]="barChartOptions" [ngClass]="{'dark': isDarkMode}">
      </canvas>
    </div>

          <!-- Show table if displayMode is 'table' -->
          <div *ngIf="viewGainer === 'table'" class="card-body  trend-stocks-card trend-forexs-card container-watchlist">
            <div class="card-header card">
              <h3 class="text-center">Gainers</h3>
            </div>
            <table class="responsive-table">
              <thead>
                <tr class="header-row">
                  <th>Symbol</th>
                  <th>Company Name</th>
                  <th>Latest Price</th>
                  <th>Chg%</th>
                  <th>Change</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let topGainer of topGainers" class="data-row">
                  <td>{{ topGainer.symbol }}</td>
                  <td>{{ topGainer.name }}</td>
                  <td>{{ topGainer.price }}</td>
                  <td>{{ topGainer.change }}%</td>
                  <td [ngStyle]="{'color': topGainer.change < 0 ? 'red' : 'green'}">
                    {{ topGainer.changesPercentage }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
      </div>
      

    <div id="loser" class="tabcontent" style="display: none;">
      <div>
        <!-- Radio buttons to toggle between chart and table -->
        <label>
          <input type="radio" name="toggle" [(ngModel)]="viewLoser" value="chart"> Chart
        </label>
        <label>
          <input type="radio" name="toggle" [(ngModel)]="viewLoser" value="table"> Table
        </label>
      </div>
      <div>

         <!-- Chart for Losers -->
    <div *ngIf="viewLoser === 'chart'"  style="width: 800px; height: 400px; background-color: black; margin-left: 25%; color: white;">
      <canvas baseChart [datasets]="loserChartData" [labels]="loserChartLabels" [chartType]="'horizontalBar'"
        [options]="barChartOptions">
      </canvas>
    </div>
    <div *ngIf="viewLoser === 'table'" class="card-body trend-stocks-card trend-forexs-card container-watchlist">

        <div class="card-header card">
          <h3 class="text-center">Losers</h3>
        </div>
        <table class="responsive-table">
          <thead>
            <tr class="header-row">
              <th>Symbol</th>
              <th>Company Name</th>
              <th>Latest Price</th>
              <th>Chg%</th>
              <th>Change</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let topLoser of topLosers" class="data-row">
              <td>{{ topLoser?.symbol }}</td>
              <td>{{ topLoser?.name }}</td>
              <td>{{ topLoser.price }}</td>
              <td>{{ topLoser.change }}%</td>
              <td style="color: rgb(6, 115, 4); font-weight: bold;">
                {{ topLoser.changesPercentage }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    </div>
    <div id="index" class="tabcontent">
      <h4>Indices & Sector</h4>
      <app-sector></app-sector>
    </div>
  </div>

  <div *ngIf="selectTabs === 'contact'" class="grid-container">
    <app-multichart></app-multichart>
  </div>

  <div *ngIf="selectTabs === 'contacts'">
    <div class="container" [class.dark]="isDarkMode">
      <!-- Sidebar with Details Menu -->
      <div class="sidebar" >
        <details (toggle)="showContent('NEWS', $event)">
          <summary [class.active]="activeContent === 'NEWS'">NEWS</summary>
        </details>
        <details (toggle)="showContent('RATIOS/PROFITABLITY', $event)">
          <summary [class.active]="activeContent === 'RATIOS/PROFITABLITY'">PROFITABLITY</summary>
        </details>
        <details (toggle)="showContent('ANALYST CONSENSUS & TRENDS', $event)">
          <summary [class.active]="activeContent === 'ANALYST CONSENSUS & TRENDS'">CONSENSUS & TRENDS</summary>
        </details>
        <details (toggle)="showContent('SCREENER CROSS RATES', $event)">
          <summary [class.active]="activeContent === 'SCREENER CROSS RATES'">SCREENER CROSS RATES</summary>
        </details>
        <details (toggle)="showContent('EARNINGS PROJECTIONS', $event)">
          <summary [class.active]="activeContent === 'EARNINGS PROJECTIONS'">EARNINGS PROJECTIONS</summary>
        </details>
        <details (toggle)="showContent('STOCK DIVIDEND', $event)">
          <summary [class.active]="activeContent === 'STOCK DIVIDEND'">STOCK DIVIDEND</summary>
        </details>
        <details (toggle)="showContent('SHAREHOLDER', $event)">
          <summary [class.active]="activeContent === 'SHAREHOLDER'">SHAREHOLDER</summary>
        </details>
        <details (toggle)="showContent('PROFILE', $event)">
          <summary [class.active]="activeContent === 'PROFILE'">PROFILE</summary>
        </details>
        <details (toggle)="showContent('TECHNICAL ANALYSIS', $event)">
          <summary [class.active]="activeContent === 'TECHNICAL ANALYSIS'">TECHNICAL ANALYSIS</summary>
        </details>
        <details (toggle)="showContent('HEATMAP', $event)">
          <summary [class.active]="activeContent === 'HEATMAP'">HEATMAP</summary>
        </details>
        <details (toggle)="showContent('EARNINGS CALENDAR', $event)">
          <summary [class.active]="activeContent === 'EARNINGS CALENDAR'">CALENDAR</summary>
        </details>
        <details (toggle)="showContent('MARKET HOURS', $event)">
          <summary [class.active]="activeContent === 'MARKET HOURS'">MARKET HOURS</summary>
        </details>
        <details (toggle)="showContent('FUNDAMENTAL DATA', $event)">
          <summary [class.active]="activeContent === 'FUNDAMENTAL DATA'">FUNDAMENTAL DATA</summary>
        </details>
        <details (toggle)="showContent('STOCK FINANCIAL DETAILS', $event)">
          <summary [class.active]="activeContent === 'STOCK FINANCIAL DETAILS'">FINANCIAL DETAILS</summary>
        </details>
      </div>

      <!-- Content Sections -->
      <div class="content-area">
        <div *ngIf="activeContent === 'NEWS'">
          <app-charts></app-charts>
        </div>
        <div *ngIf="activeContent === 'RATIOS/PROFITABLITY'">
          <app-metrics></app-metrics>
        </div>
        <div *ngIf="activeContent === 'ANALYST CONSENSUS & TRENDS'">
          <app-chart1></app-chart1>
        </div>
        <div *ngIf="activeContent === 'SCREENER CROSS RATES'">
          <app-screener></app-screener>
        </div>
        <div *ngIf="activeContent === 'EARNINGS PROJECTIONS'">
          <app-earning></app-earning>
        </div>
        <div *ngIf="activeContent === 'STOCK DIVIDEND'">
          <app-dividend></app-dividend>
        </div>
        <div *ngIf="activeContent === 'SHAREHOLDER'">
          <app-shareholder></app-shareholder>
        </div>
        <div *ngIf="activeContent === 'PROFILE'">
          <app-profile></app-profile>
        </div>
        <div *ngIf="activeContent === 'TECHNICAL ANALYSIS'">
          <app-technical-analysis></app-technical-analysis>
        </div>
        <div *ngIf="activeContent === 'HEATMAP'">
          <app-heatmap></app-heatmap>
        </div>
        <div *ngIf="activeContent === 'EARNINGS CALENDAR'">
          <app-techanalysis></app-techanalysis>
        </div>
        <div *ngIf="activeContent === 'MARKET HOURS'">
          <app-stockmarket></app-stockmarket>
        </div>
        <div *ngIf="activeContent === 'FUNDAMENTAL DATA'">
          <app-fundamendal></app-fundamendal>
        </div>
        <div *ngIf="activeContent === 'STOCK FINANCIAL DETAILS'">
          <app-analystock></app-analystock>
        </div>
    </div>
  </div>

