<!-- 

  <h1>Top 10 Gainers</h1>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Instrument</th>
        <th>Change (%)</th>
        <th>Change</th>
        <th>Live Prices</th>
        <th>Last Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let gainer of topGainers">
        <td>{{ gainer.Name }}</td>
        <td>{{ gainer.Instrument }}</td>
        <td>{{ gainer.Changeper }}</td>
        <td>{{ gainer.Change }}</td>
        <td>{{ gainer.Liveprices }}</td>
        <td>{{ gainer.Lastprice }}</td>
      </tr>
    </tbody>
  </table>

  <h1>Top 10 Losers</h1>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Instrument</th>
        <th>Change (%)</th>
        <th>Change</th>
        <th>Live Prices</th>
        <th>Last Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let loser of topLosers">
        <td>{{ loser.Name }}</td>
        <td>{{ loser.Instrument }}</td>
        <td>{{ loser.Changeper }}</td>
        <td>{{ loser.Change }}</td>
        <td>{{ loser.Liveprices }}</td>
        <td>{{ loser.Lastprice }}</td>
      </tr>
    </tbody>
  </table>


 -->
<!-- <script type="text/javascript">var _mcq = ["9", "4d4345"];</script><span id='_mc_mg9'></span>
<script language="JavaScript" src="https://stat1.moneycontrol.com/mcjs/common/https_mc_widget.js"></script><noscript><a
    href="https://www.moneycontrol.com/india/stockpricequote/miscellaneous/multicommodityexchangeindia/MCE">Multi
    Commodity Exchange of India</a></noscript> -->

    <iframe src="https://www.motilaloswal.com/market-overview-commodity/top-gainers-and-losers" width="100%" height="600" frameborder="0" allowfullscreen></iframe>
    
    
    