/* Default light theme styles */
.s1 {
  background-color: #babec7;
  width: 1300px;
  font-size: 13px;
  font-weight: bold;
}

table {
  border-collapse: collapse;
  width: 1300px;
  background-color: #dee0e5;
  text-align: center;
}

th,
td {
  border: 1px solid #ddd;
  padding: 5px;
  text-align: left;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

th {
  font-weight: bold;
  background-color: #babec7;
  color: white;
}

td:nth-child(6) {
  color: red;
}

ion-button {
  background-color: #babec7;
  width: 40px;
  height: 25px;
  font-size: 10px;
  color: white;
  border: none;
}

/* Dark theme styles */
:host-context(.dark) .s1 {
  background-color: #37474F;
  /* Dark background for container */
  color: white;
}

:host-context(.dark) table {
  background-color: #37474F;
  /* Dark background for table */
}

:host-context(.dark) th,
:host-context(.dark) td {
  border: 1px solid #555;
  /* Darker border */
  color: white;
}

:host-context(.dark) th {
  background-color:#37474F;
  /* Darker header background */
}

:host-context(.dark) td:nth-child(6) {
  color: #ff5252;
  /* Red color for sixth column in dark theme */
}

:host-context(.dark) ion-button  {
  background-color: #455A64;
  /* Dark button background */
  color: white;
}

:host-context(.dark) input {
  background-color: #455A64;
  /* Dark button background */
  color: white;
}