<ion-header>
  <ion-toolbar>
    <ion-title>margin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <iframe frameborder="0" scrolling="no" height="425" width="730" allowtransparency="true" marginwidth="0" marginheight="0" src="https://ssltools.investing.com/margin-calculator/index.php?force_lang=56&acc=12&pair=1"></iframe><br /><div style="width:750"><a href="http://in.investing.com" target="_blank"><img src="https://wmt-invdn-com.investing.com/forexpros_en_logo.png" alt="Investing.com" title="Investing.com" style="float:left" /></a><span style="float:right"><span style="font-size: 11px;color: #333333;text-decoration: none;">The Margin Calculator is powered by <a href="https://in.investing.com/" rel="nofollow" target="_blank" style="font-size: 11px;color: #06529D; font-weight: bold;" class="underline_link">Investing.com India</a></span></span></div>

  <a href="https://www.prostocks.com/equity-fo-span-margin-calculator.html" target="_blank">ProStocks Margin Calculator</a>

</ion-content>

