<div [class.hidden]="!showWidget">
  <ion-icon name="close-outline" (click)="toggleWidget()"></ion-icon>
  <div>
    <iframe 
      src="https://fxpricing.com/fx-widget/ticker-tape-widget.php?id=1,2,3,5,14,20&d_mode=compact-name" 
      width="100%" height="85" style="border: unset;">
    </iframe>
    <div id="fx-pricing-widget-copyright"> 
      <span> </span><a href="https://fxpricing.com/" target="_blank"></a>
    </div>
  </div>
</div>

<div *ngIf="!showWidget">
  <ion-icon name="add-outline" (click)="toggleWidget()"></ion-icon>
</div>
