<div class="card-container">
  <ng-container *ngFor="let chunk of chunkedEarns">
    <div *ngFor="let company of chunk" class="card">
      <h3>{{ company.name }}</h3>
      <img [src]="company.logo" alt="{{ company.name }} Logo" />
      <p>Country: {{ company.country }}</p>
      <p>Currency: {{ company.currency }}</p>
      <p>Exchange: {{ company.exchange }}</p>
      <p>Industry: {{ company.finnhubIndustry }}</p>
      <p>IPO Date: {{ company.ipo }}</p>
      <p>Market Capitalization: {{ company.marketCapitalization }}</p>
      <p>Phone: {{ company.phone }}</p>
      <p>Share Outstanding: {{ company.shareOutstanding }}</p>
      <p>Ticker: {{ company.ticker }}</p>
      <p>Web URL: <a href="{{ company.weburl }}">{{ company.weburl }}</a></p>
    </div>
  </ng-container>
</div>

