<!-- Menu Button -->
<ion-buttons class="side">
  <ion-menu-button menu="start"></ion-menu-button>
</ion-buttons>

<!-- Tabs -->
<ion-tabs (ionTabsDidChange)="tabChanged($event)">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="Stocks" [ngClass]="{'active-tab': currentTab === 'Stocks'}" class="custom-tab-button">
      <img alt="logo" height="25" src="assets/adobe-stock.png">
      <ion-label>Stocks</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="Options" [ngClass]="{'active-tab': currentTab === 'Options'}">
      <img alt="logo" height="25" src="assets/option.jpeg">
      <ion-label>Options</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="Forex" [ngClass]="{'active-tab': currentTab === 'Forex'}">
      <img alt="logo" height="35" src="assets/forex.jpeg">
      <ion-label>Forex</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="Futures" [ngClass]="{'active-tab': currentTab === 'Futures'}">
      <img alt="logo" height="35" src="assets/commodity.jpeg">
      <ion-label>Futures</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="Portfolio" [ngClass]="{'active-tab': currentTab === 'Portfolio'}">
      <ion-icon name="triangle"></ion-icon>
      <ion-label>Portfolio</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
