<!-- <ion-buttons slot="end">
  <ion-menu-button menu="start"></ion-menu-button>
</ion-buttons>
<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <img alt="logo" id="header_logo" height="25" src="assets/adobe-stock.png">
      <ion-label style="color: #B445E6; font-weight: bold;">Stocks</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <img alt="logo" id="header_logo" height="25" src="assets/option.jpeg">
      <ion-label style="color: #E630A2; font-weight: bold;">options</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <img alt="logo" id="header_logo" height="35" src="assets/forex.jpeg">
      <ion-label style="color: #E62C1E;  font-weight: bold;">Forex</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="tile">
      <img alt="logo" id="header_logo" height="35" src="assets/commodity.jpeg">
      <ion-label style="color: #E63F1E; font-weight: bold;">commodity</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="portfolio">
      <ion-icon name="triangle"></ion-icon>
      <ion-label style="color: black; font-weight: bold;">portfolio</ion-label>
    </ion-tab-button>


  </ion-tab-bar>
</ion-tabs> -->
<ion-buttons class="side">
  <ion-menu-button menu="start"></ion-menu-button>
</ion-buttons>

<ion-tabs (ionTabsDidChange)="tabChanged($event)">

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1" [ngClass]="{'active-tab': currentTab === 'tab1'}" class="custom-tab-button">
      <img alt="logo" id="header_logo" height="25" src="assets/adobe-stock.png">
      <ion-label style="color: #B445E6; font-weight: bold;">Stocks</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2" [ngClass]="{'active-tab': currentTab === 'tab2'}">
      <img alt="logo" id="header_logo" height="25" src="assets/option.jpeg">
      <ion-label style="color: #E630A2; font-weight: bold;">Options</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3" [ngClass]="{'active-tab': currentTab === 'tab3'}">
      <img alt="logo" id="header_logo" height="35" src="assets/forex.jpeg">
      <ion-label style="color: #E62C1E; font-weight: bold;">Forex</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tile" [ngClass]="{'active-tab': currentTab === 'tile'}">
      <img alt="logo" id="header_logo" height="35" src="assets/commodity.jpeg">
      <ion-label style="color: #E63F1E; font-weight: bold;">Commodity</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="portfolio" [ngClass]="{'active-tab': currentTab === 'portfolio'}">
      <ion-icon name="triangle"></ion-icon>
      <ion-label style="color: black; font-weight: bold;">Portfolio</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
