<div class="card-body  card trend-forexs-card container-watchlist">
  <p>{{ title }}</p>
  <table class="responsive-table">
    <thead>
      <tr  class="header-row">
        <th>Trading Session</th>
        <th>Start Time</th>
        <th>End Time</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let technical of technicals">
        <td>{{ technical.Product}}</td>
        <td>{{ technical.Start}}</td>
        <td>{{ technical.End}}</td>
       
      </tr>
    </tbody>
  </table>
</div>