  
 <!--<div style="padding: 0 6%;">
  <table class="table">
    <thead class="table-success">
      <tr>
        <th>Date</th>
        <th>Currency</th>
        <th>Name</th>
        <th>Impact</th>
       </tr>
    </thead>
    <tbody>
      <tr *ngFor="let rate of Calendar">
        <td>{{rate.Start}}</td>
        <td>{{rate.Currency}}</td>
        <td>{{rate.Name}}</td>
        <td>{{rate.Impact}}</td>
        </tr>
    </tbody>
  </table>
</div>-->

<div class="iframe">
  <iframe src="https://widget.myfxbook.com/widget/calendar.html?lang=en&impacts=0,1,2,3&symbols=AUD,CAD,CHF,CNY,EUR,GBP,JPY,NZD,USD"
  style="width: 100%; height: 1000px;" frameborder="0" scrolling="auto"></iframe>
</div>
