.widgets-container {
  display: flex;
  justify-content: space-around;
}

.widget {
  flex: 1;
  margin: 3%;
}

.sta-stocks-return-comparison-display,
.sta-stocks-analyst-rating-comparison-display {
  width: 100%;
}
