<ion-app [class.dark]="isDarkMode">
  <div style="position: fixed; top: 1px; right: 26px; z-index: 100; display: flex; align-items: center; gap: 5px;">
      <ion-buttons slot="end">
      <ion-button class="custom-button"   [attr.title]="isConnected ? 'Database Connected' : 'Not connected'">
      <ion-icon name="navigate-circle" [ngClass]="{'connected': isConnected, 'disconnected': !isConnected}"></ion-icon>
      </ion-button>
      </ion-buttons>
    <!-- Bind the icon dynamically based on the theme -->
    <ion-icon
      [name]="themeIcon"
      
      style="font-size: 20px; cursor: pointer;"
      (click)="toggleTheme()">
    </ion-icon>
    <ion-buttons slot="end">
      <ion-button (click)="navigateToLandingPage()">
        <ion-icon name="home"></ion-icon>
      </ion-button>

     
    </ion-buttons>
  
  </div>
  

  <!-- Side Menu -->
  <!-- <ion-menu menuId="main-menu" contentId="main">
    <ion-content>
      <div class="menu-header-bg"></div>
      <div class="header-content">
        <ion-label>
          <h3>fintech</h3>
        </ion-label>
      </div>
      
      <ion-item lines="none" href="/tabs/tab1">Stock</ion-item>
      <ion-item lines="none" href="/tabs/tab2">Options</ion-item>
      <ion-item lines="none" href="/tabs/tab3">Forex</ion-item>
      <ion-item lines="none" href="/tabs/tile">Commodity</ion-item>
      <ion-item lines="none" href="tabs/portfolio">Portfolio</ion-item>
    </ion-content>
  </ion-menu> -->

  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
