<div class="container mt-4" style="height: 400px; overflow-y: auto;">
  <button (click)="showMainUrls()">Show Main URLs</button>
  <div *ngIf="mainUrls.length > 0">
    <h3>Main URLs</h3>
    <ul>
      <li *ngFor="let mainUrl of mainUrls" (click)="filterNewsByMainUrl(mainUrl)" style="cursor: pointer;">
        {{ mainUrl }}
      </li>
    </ul>
  </div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Title</th>
        <th>URL</th>
        <th>Summary</th>
        <th>Sentiment Score</th>
        <th>Updated Time</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let article of filteredNews">
        <td>{{ article.headline }}</td>
        <td><a href="{{ article.url }}" target="_blank">{{ article.url }}</a></td>
        <td>{{ article.summary }}</td>
        <td>{{ article.sentimentScore }}</td>
        <td>{{ article.fetchedTime }}</td>
      </tr>
    </tbody>
  </table>
</div>
