<!-- <div class="tradingview-widget-container my-container">
  <div class="tradingview-widget-container__widget"></div>
  <div #tradingview></div>
</div> -->




<table>
  <thead>
    <tr>
      
        <th>Company Name</th>
        <th> dividend_Ex_Date</th>
        <th>payment_Date</th>
        <th> record_Date</th>
        <th>dividend_Rate</th>
        <th>indicated_Annual_Dividend</th>
        <th>announcement_Date</th>
      </tr>
    
  </thead>
  <tbody>
    <tr *ngFor="let nifty of nifty">
      <td>{{ nifty.
        companyName}}</td>
      <td>{{ nifty.
        dividend_Ex_Date }}</td>
      <td>{{ nifty.payment_Date }}</td>
      <td>{{ nifty.
        record_Date }}</td>
      <td>{{ nifty.
        dividend_Rate }}</td>
        <td>{{ nifty.
         
indicated_Annual_Dividend }}</td>
          <td>{{ nifty.
            
announcement_Date }}</td>

    </tr>
  </tbody>
</table>
