<ion-header>
  <app-ribbon1></app-ribbon1>
</ion-header>

<ion-content  class="cl1">
  <ion-segment [(ngModel)]="selectTabs">
    <ion-segment-button value="recent">
      <ion-label>List View</ion-label>
    </ion-segment-button>
    <ion-segment-button value="missed">
      <ion-label>Chart View</ion-label>
    </ion-segment-button>
    <ion-segment-button value="contact">
      <ion-label>Tile View</ion-label>
    </ion-segment-button>
    <ion-segment-button value="contacts">
      <ion-label>Research</ion-label>
    </ion-segment-button>
  </ion-segment>

  
  <!-- Recent tab -->
  <div *ngIf="selectTabs === 'recent'">

    <div class="tab">
      <button class="tablinks" (click)="openTab($event, 'watchlist')">Watchlist</button>
      <button class="tablinks" (click)="openTab($event, 'gainer')">Top Gainer</button>
      <button class="tablinks" (click)="openTab($event, 'loser')">Top Loser</button>
      <button class="tablinks" (click)="openTab($event, 'index')">Sectors</button>
    </div>
  
    <div id="watchlist" class="tabcontent" style="display: block;">
      <div class="container-watchlist">
        <!-- Watchlist Section -->
        <div *ngIf="watchlist.length > 0" class="watchlist-container">
          <div class="trend-stocks-card watchlist-card">
            <div class="card-header card">
              <h3 class="text-center">Watchlist</h3>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="watchlist-table">
                  <thead>
                    <tr>
                      <th>Symbol</th>
                      <th>Open</th>
                      <th>High</th>
                      <th>Low</th>
                      <th>Close</th>
                      <th>Bid</th>
                      <th>Ask</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let com of watchlist">
                      <td (click)="setClickedData(com.Symbol)">{{ com.symbol }}</td>
                      <td>{{ com.open.toFixed(4) }}</td>
                      <td>{{ com.high.toFixed(4) }}</td>
                      <td>{{ com.low.toFixed(4) }}</td>
                      <td>{{ com.close.toFixed(4) }}</td>
                      <td>{{ com.bid.toFixed(4) }}</td>
                      <td>{{ com.ask.toFixed(4) }}</td>
                      <td>
                        <button class="btn btn-danger btn-sm" (click)="onDeletecom(com)">
                          Delete
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        
  
        <!-- Trend com Section -->
        <div *ngIf="email && availablecoms.length > 0" class="trend-coms-container">
          <div class="trend-stocks-card trend-coms-card">
            <div class="card-header card ">
              <h3 class="text-center">Trend Futures</h3>
            </div>
            <div class="card-body">
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Filter by Symbol"
                  [(ngModel)]="filterText"
                  (input)="filterUnstoredcoms()"
                />
              </div>
              <div class="table-responsive">
                <table class="trend-coms-table">
                  <thead>
                    <tr>
                      <th>Symbol</th>
                      <th>Open</th>
                      <th>High</th>
                      <th>Low</th>
                      <th>Close</th>
                      <th>Bid</th>
                      <th>Ask</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let com of filteredUnstoredcoms">
                       <!-- Clicking the symbol will navigate to the chart view -->
                    <td (click)="setClickedData(com.Symbol)" style="cursor: pointer; color: blue;">
                      {{ com.Symbol }}
                    </td>
                      <td>{{ com.Data[0].Open.toFixed(4) }}</td>
                      <td>{{ com.Data[0].High.toFixed(4) }}</td>
                      <td>{{ com.Data[0].Low.toFixed(4) }}</td>
                      <td>{{ com.Data[0].Close.toFixed(4) }}</td>
                      <td>{{ com.Data[0].Bid.toFixed(4) }}</td>
                      <td>{{ com.Data[0].Ask.toFixed(4) }}</td>
                      <td>
                        <button class="btn btn-success btn-sm" (click)="onAddcom(com)">
                          Add
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="!email && availablecoms.length > 0" class="trend-coms-container">
          <div class="trend-stocks-card trend-coms-card">
            <div class="card-header card">
              <h3 class="text-center">Most Active Stocks</h3>
            </div>
            <div class="card-body">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Filter by Symbol" [(ngModel)]="filterText"
                  (input)="filterUnstoredcoms()" />
              </div>
              <div class="table-responsive">
                <table class="trend-coms-table">
                  <thead>
                    <tr>
                      <th>Symbol</th>
                      <th>Open</th>
                      <th>High</th>
                      <th>Low</th>
                      <th>Close</th>
                      <th>Bid</th>
                      <th>Ask</th>
                      
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let com of filteredUnstoredcoms.slice(0,2)">
                      <!-- Clicking the symbol will navigate to the chart view -->
                      <td (click)="setClickedData(com.Symbol)" style="cursor: pointer; color: blue;">
                        {{ com.Symbol }}
                      </td>
                      <td>{{ com.Data[0].Open.toFixed(4) }}</td>
                      <td>{{ com.Data[0].High.toFixed(4) }}</td>
                      <td>{{ com.Data[0].Low.toFixed(4) }}</td>
                      <td>{{ com.Data[0].Close.toFixed(4) }}</td>
                      <td>{{ com.Data[0].Bid.toFixed(4) }}</td>
                      <td>{{ com.Data[0].Ask.toFixed(4) }}</td>
                      
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  <!-- Gainers Section -->
  <div id="gainer" class="tabcontent">
    <!-- Radio buttons to toggle between chart and table -->
    <div>
      <label>
        <input type="radio" name="toggleGainer" [(ngModel)]="viewGainer" value="chart"> Chart
      </label>
      <label>
        <input type="radio" name="toggleGainer" [(ngModel)]="viewGainer" value="table"> Table
      </label>
    </div>
  
    <!-- Chart for Gainers -->
    <div *ngIf="viewGainer === 'chart'" style="width: 800px; height: 400px; background-color: black; margin-left: 25%; color: white;">
      <canvas baseChart [datasets]="gainerChartData" [labels]="gainerChartLabels" [chartType]="'horizontalBar'"
        [options]="chartOptions">
      </canvas>
    </div>
  
    <!-- Table for Gainers -->
    <div *ngIf="viewGainer === 'table'" class=" card-body  trend-stocks-card trend-forexs-card container-watchlist ">
      <h4 class="text-center">Gainers Table</h4>
      <table class="trend-forexs-table">
        <thead>
          <tr class="header-row">
            <th>Name</th>
            <th>Change %</th>
            <th>Change</th>
            <th>Live Prices</th>
            <th>Last Prices</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let gainer of topGainers">
            <td>{{ gainer.Name }}</td>
            <td>{{ gainer.Changeper }}</td>
            <td>{{ gainer.Change }}</td>
            <td>{{ gainer.Liveprices }}</td>
            <td>{{ gainer.Lastprice }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
  <!-- Losers Section -->
  <div id="loser" class="tabcontent">
    <!-- Radio buttons to toggle between chart and table -->
    <div>
      <label>
        <input type="radio" name="toggleLoser" [(ngModel)]="viewLoser" value="chart"> Chart
      </label>
      <label>
        <input type="radio" name="toggleLoser" [(ngModel)]="viewLoser" value="table"> Table
      </label>
    </div>
  
    <!-- Chart for Losers -->
    <div *ngIf="viewLoser === 'chart'" style="width: 800px; height: 400px; background-color: black; margin-left: 25%; color: white;" >
      <canvas baseChart [datasets]="loserChartData" [labels]="loserChartLabels" [chartType]="'horizontalBar'"
        [options]="chartOptions">
      </canvas>
    </div>
  
    <!-- Table for Losers -->
    <div *ngIf="viewLoser === 'table'" class=" card-body  trend-stocks-card trend-forexs-card container-watchlist">
      <h4 class="text-center">Losers Table</h4>
      <table class="trend-forexs-table">
        <thead>
          <tr class="header-row">
            <th>Name</th>
            <th>Change %</th>
            <th>Change</th>
            <th>Live Prices</th>
            <th>Last Prices</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let loser of topLosers">
            <td>{{ loser.Name }}</td>
            <td>{{ loser.Changeper }}</td>
            <td>{{ loser.Change }}</td>
            <td>{{ loser.Liveprices }}</td>
            <td>{{ loser.Lastprice }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

    
    
  
    <div id="index" class="tabcontent">
      <div class="box1">
        <!-- Radio buttons to toggle between chart and table -->
        <div>
          <label>
            <input type="radio" name="toggle" [(ngModel)]="displayMode" value="chart">  Chart
          </label>
          <label>
            <input type="radio" name="toggle" [(ngModel)]="displayMode" value="table">  Table
          </label>
        </div>
    
        <!-- Tabs -->
        <div class="tabss">
          <button class="style" (click)="selectTab(1)" [class.active]="selectedTab === 1">Energy</button>
          <button class="style" (click)="selectTab(2)" [class.active]="selectedTab === 2">Agriculture</button>
          <button class="style" (click)="selectTab(3)" [class.active]="selectedTab === 3">Metals</button>
        </div><br>
    
        <!-- Energy Tab -->
        <div *ngIf="selectedTab === 1">
          <!-- Chart -->
          <div *ngIf="displayMode === 'chart'"style="width: 800px; height: 400px;  margin-left: 25%; color: white;">
            <canvas baseChart 
                    [datasets]="energyChartData" 
                    [labels]="energyLabels" 
                    [chartType]="'horizontalBar'"
                    [options]="chartOptions">
            </canvas>
          </div>
          <!-- Table -->
          <div *ngIf="displayMode === 'table'" class=" card-body  trend-stocks-card trend-forexs-card container-watchlist">
            <table class="trend-forexs-table">
              <thead>
                <tr class="header-row">
                  <th>Name</th>
                  <th>Last</th>
                  <th>High</th>
                  <th>Low</th>
                  <th>Change</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of energyData">
                  <td>{{ item.Name }}</td>
                  <td>{{ item.Last }}</td>
                  <td>{{ item.High }}</td>
                  <td>{{ item.Low }}</td>
                  <td>{{ item.Chg }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
    
        <!-- Agriculture Tab -->
        <div *ngIf="selectedTab === 2">
          <!-- Chart -->
          <div *ngIf="displayMode === 'chart'"style="width: 800px; height: 400px; margin-left: 25%; color: white;">
            <canvas baseChart 
                    [datasets]="agricultureChartData" 
                    [labels]="agricultureLabels" 
                    [chartType]="'horizontalBar'"
                    [options]="chartOptions">
            </canvas>
          </div>
          <!-- Table -->
          <div *ngIf="displayMode === 'table'" class=" card-body  trend-stocks-card trend-forexs-card  container-watchlist">
            <table class="trend-forexs-table">
              <thead>
                <tr class="header-row">
                  <th>Name</th>
                  <th>Last</th>
                  <th>High</th>
                  <th>Low</th>
                  <th>Change</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of agricultureData">
                  <td>{{ item.Name }}</td>
                  <td>{{ item.Last }}</td>
                  <td>{{ item.High }}</td>
                  <td>{{ item.Low }}</td>
                  <td>{{ item.Chg }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
    
        <!-- Metals Tab -->
        <div *ngIf="selectedTab === 3">
          <!-- Chart -->
          <div *ngIf="displayMode === 'chart'"style="width: 800px; height: 400px;  margin-left: 25%; color: white;">
            <canvas baseChart 
                    [datasets]="metalsChartData" 
                    [labels]="metalsLabels" 
                    [chartType]="'horizontalBar'"
                    [options]="chartOptions">
            </canvas>
          </div>
          <!-- Table -->
          <div *ngIf="displayMode === 'table'" class=" card-body  trend-stocks-card trend-forexs-card container-watchlist ">
            <table class="trend-forexs-table">
              <thead>
                <tr class="header-row">
                  <th>Name</th>
                  <th>Last</th>
                  <th>High</th>
                  <th>Low</th>
                  <th>Change</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of metalsData">
                  <td>{{ item.Name }}</td>
                  <td>{{ item.Last }}</td>
                  <td>{{ item.High }}</td>
                  <td>{{ item.Low }}</td>
                  <td>{{ item.Chg }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Chart tab -->
  <div *ngIf="selectTabs === 'missed'" class="chart-container">
    <div class="tab-buttons">
      <button (click)="setTabe('live')" [class.active]="selectedTabe === 'live'">Live</button>
      <button (click)="setTabe('historical')" [class.active]="selectedTabe === 'historical'">Historical</button>
    </div>
    <div *ngIf="selectedTabe === 'live'">
      <app-com-livedata></app-com-livedata>
    </div>
    
    <!-- Content for Historical Data -->
    <div *ngIf="selectedTabe === 'historical'">
      <app-commodity></app-commodity>
     
    </div>

  </div>
  

  <!-- Tile tab -->
  <div *ngIf="selectTabs === 'contact'" class="grid-container">
    <app-com-chart></app-com-chart>
  </div>

  <!-- Research tab -->

  <div *ngIf="selectTabs === 'contacts'" class="container">
    <div class="container">
    <div class="sidebar">
      <details (toggle)="showContent('NEWS', $event)">
        <summary [class.active]="activeContent === 'NEWS'">NEWS</summary>
      </details>
      <details (toggle)="showContent('ECONOMIC CALENDAR', $event)">
        <summary [class.active]="activeContent === 'ECONOMIC CALENDAR'">CALENDAR</summary>
      </details>
      <details (toggle)="showContent('MARKET HEATMAP', $event)">
        <summary [class.active]="activeContent === 'MARKET HEATMAP'">HEATMAP</summary>
      </details>
      <details (toggle)="showContent('SCREENER CROSS RATES', $event)">
        <summary [class.active]="activeContent === 'SCREENER CROSS RATES'">SCREENER CROSS RATES</summary>
      </details>
      <details (toggle)="showContent('PROFILE', $event)">
        <summary [class.active]="activeContent === 'PROFILE'">PROFILE</summary>
      </details>
      <details (toggle)="showContent('GAINERS', $event)">
        <summary [class.active]="activeContent === 'GAINERS'">GAINERS&LOSERS</summary>
      </details>
      <details (toggle)="showContent('MARKET HOURS', $event)">
        <summary [class.active]="activeContent === 'MARKET HOURS'">MARKET HOURS</summary>
      </details>
      <details (toggle)="showContent('TECHNICAL ANALYSIS', $event)">
        <summary [class.active]="activeContent === 'TECHNICAL ANALYSIS'">ANALYSIS</summary>
      </details>
      <details (toggle)="showContent('VOLATILITY', $event)">
        <summary [class.active]="activeContent === 'VOLATILITY'">VOLATILITY</summary>
      </details>
      <details (toggle)="showContent('MOVING AVERAGE', $event)">
        <summary [class.active]="activeContent === 'MOVING AVERAGE'">MOVING AVERAGE</summary>
      </details>
    </div>

    <div class="content-area">
      <div *ngIf="activeContent === 'NEWS'">
        <app-com-news></app-com-news>
      </div>
      <div *ngIf="activeContent === 'ECONOMIC CALENDAR'">
        <app-comcalender></app-comcalender>
      </div>
      <div *ngIf="activeContent === 'MARKET HEATMAP'">
        <app-marketheat></app-marketheat>
      </div>
      <div *ngIf="activeContent === 'SCREENER CROSS RATES'">
        <app-screener></app-screener>
      </div>
      <div *ngIf="activeContent === 'PROFILE'">
        <app-comprof></app-comprof>
      </div>
      <div *ngIf="activeContent === 'GAINERS'">
        <app-commodity-gainer></app-commodity-gainer>
      </div>
      <div *ngIf="activeContent === 'MARKET HOURS'">
        <app-commarket></app-commarket>
      </div>
      <div *ngIf="activeContent === 'TECHNICAL ANALYSIS'">
        <app-comtechnical></app-comtechnical>
      </div>
      <div *ngIf="activeContent === 'VOLATILITY'">
        <app-compri></app-compri>
      </div>
      <div *ngIf="activeContent === 'MOVING AVERAGE'">
        <app-comprice></app-comprice>
      </div>
    </div>
    
</div>
  </div>
