ion-header{
  height: auto;
}

.container {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.sidebar {
  // flex: 1;
  font-family: Georgia, 'Times New Roman', Times, serif;
  max-width: 500px; /* Sidebar width */
  background-color: #c4f3e9;
  padding: 10px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}

.content-area {
  flex: 3;
  padding: 20px;
  background-color: #ffffff;
  overflow-y: auto;
  max-height: 100vh;
}
summary {
  margin-left: 30px;
  margin-top: 10px;
  color: rgb(94, 10, 190);
  font-weight: bold;
}

/* Active style for the summary */
summary.active {
  color: #FF5733; /* Change this to the desired color when active */
}

.tiles-container {
  display: flex;
  flex-wrap: wrap;
}
*{
  font-family:  'Times New Roman',;
} 

.tile {
  width: 300px;
  margin: 10px;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.tile-header {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.tile-content {
  display: flex;
  flex-direction: column;
}

.tile-row {
  display: flex;
}

.tile-column {
  flex: 1;
}

.tile-column p {
  margin: 0;
}

.tile-column b {
  font-weight: bold;
}

.call-tile {
  background-color: #f2f9fb;
  border: 2px solid #29c7ac;
}

.put-tile {
  background-color: #fef1f1;
  border: 2px solid #ff5252;
}






ion-header{
  height: 13%;
}
// summary{
//   margin-left: 40px;
//   margin-top: 20px;
//   color: rgb(94, 10, 190);
//   font-weight: bold;
//   font-family: Georgia, 'Times New Roman', Times, serif;
//  }
.tool{
  --background: dodgerblue;
  text-align: center;
 }
 ion-title{
   --background: dodgerblue;
 }
 .cl1{
     background-color: aquamarine;
 }
 .c1{
     --background: crimson;
     margin-left: 90px;
 }
 .c3{
     --background: crimson;
     margin-left: 230px;
     margin-top: -65px;
 }
 .class1{
     position: absolute;
     margin-left:20px;
     margin-top: 50px;
     font-family:Times New Roman !important;
  font-size:1.1em;

 }
 h1{
   margin-left: 25px;
   font-family: Georgia, 'Times New Roman', Times, serif;
   color:rgb(14, 134, 233) ;
 }
 h4{
   margin-left: 30px;
    margin-top: 20px;
   font-family: Georgia, 'Times New Roman', Times, serif;
   //color:#E630A2 ;
 }
 .card1{
   --background:rgb(144, 140, 148);
   height: 40%;
   width: 55%;
   margin-left: 25%;
 }

 #head{
   font-size: larger;
   font-weight: bold;
 }
 #c1{
   background-color: rgb(247, 175, 241);
 }
 #c2{
   background-color: rgb(143, 243, 130);
 }
 #c3{
   background-color: rgb(243, 140, 140);
 }
 #c4{
   background-color: rgb(247, 247, 150);
 }
 #c5{
   background-color: rgb(146, 240, 243);
 }
 #c6{
   background-color: rgb(101, 179, 243);
 }
 ion-label{
   font-family: Georgia, 'Times New Roman', Times, serif;

 }
 #h1{
   text-align: center;
   color: rgb(16, 117, 248);
   font-family: Georgia, 'Times New Roman', Times, serif;
 }
 ion-segment{
   ion-label{
   color: #E630A2;
   font-size: medium;
   font-weight: bloder;
  font-family: Georgia, 'Times New Roman', Times, serif;
 }
 }
 ion-button{
   font-family: Georgia, 'Times New Roman', Times, serif;
   font-size: medium;
   font-weight: 100;
   margin-left: 80px;
 }
 ion-card-content{
   padding: 20px;
   padding-left: 25%;
   p{
     color: #000;
     font-size: large;
     margin-left: 5%;
     font-family: Georgia, 'Times New Roman', Times, serif;
   }
   b{
     font-family: Georgia, 'Times New Roman', Times, serif;
     font-size: xx-large;
     color:rgb(224, 172, 75);
   }
 }
 ion-card-title{
   text-align: center;
   padding-top: 20px;
   font-family: Georgia, 'Times New Roman', Times, serif;
   color: whitesmoke;
 }
 .grid-container {
   display: grid;
   grid-template-columns: auto auto auto;
   padding: 40px;
 #card{
   --background:rgb(144, 140, 148);
 }
 }
 .grid-item {
   border: 1px  rgba(0, 0, 0, 0.8);
   padding: 20px;
   font-size: 20px;
   text-align: center;
 }
#call{
  margin-left: 25%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bolder;
  color: rgb(67, 118, 228);
  font-size: x-large;
}
#put{
  margin-left: 45%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bolder;
  color: rgb(74, 118, 214);
  font-size: x-large;
}
#btn{
  margin-left: 10%;
}
/* Light Green Color for first five headings */
/* Light Green Color for first eight headings */

table {
  width: 100%; 
  border-collapse: collapse;
  overflow-x: auto;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2); /* Adjust values for desired effect */
}

th, td { 
  text-align: center; /* Centers text horizontally */
  vertical-align: middle; /* Centers text vertically */
}


thead, tbody, tr, th, td { 
  border: 1px solid black; /* Basic borders for clarity */
}

/* Optional: Improve readability on smaller screens */
@media (max-width: 768px) { 
  thead tr {
    position: absolute; /* Make headers stay visible */
    top: 0;
    left: 0;
    width: 100%; 
  }

  tbody td {
    display: block;  /* Stack cells vertically */
  }

  tbody td::before {  /* Add labels before each data cell */
    content: attr(data-label);
    display: inline-block;
    font-weight: bold;
    width: 130px; /* Adjust label width as needed */
    min-width: 130px;
  }
}





th, td {
  border: 1px solid #ddd;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: 15px;
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Apply light brown background color to Strike Price heading and cells */
th:nth-child(12),
td:nth-child(12) {
  background-color: #D2B48C; /* Light brown */
}

th:nth-child(5),
td:nth-child(5) {
  background-color: #C7FFCC; /* Light pink */
}
th:nth-child(n+13):nth-child(-n+22) {
  background-color:  #FFC7D4; /* Light pink */
}
th:nth-child(n+1):nth-child(-n+11) {
  background-color: #C7FFCC; /* Light pink */
}
th:nth-child(15),
td:nth-child(15) {
  background-color:  #FFC7D4; /* Light pink */
}
th:nth-child(1),
td:nth-child(1) {
  background-color: #C7FFCC; /* Light pink */
}
td:nth-child(4) {
  color: red;
}
td:nth-child(14) {
  color: rgb(4, 176, 82);
}


.cl1 {
  background-color: aquamarine;
}

.c1 {
  --background: crimson;
  margin-left: 90px;
}

.c3 {
  --background: crimson;
  margin-left: 230px;
  margin-top: -65px;
}
ion-label {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bolder;
  font-size: large;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 40px;

  #card {
    --background: rgb(216, 216, 221);
  }
}

.grid-item {

  border: 1px rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 20px;
  text-align: center;
}
h4 {
  margin-left: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  margin-top: 20px;
  // color: #E62C1E;
}
ion-searchbar {
  padding-left: 25px;
  padding-right: 50px;
  border-radius: 3px;

}
.col {
  padding-left: 20px;
  /* Adjust as needed */
  padding-right: 20px;
  /* Adjust as needed */
  font-weight: bold;
}
ion-label {
  font-size: larger;
}

#c1 {
  background-color: rgb(240, 213, 237);
}

#c2 {
  background-color: rgb(198, 241, 192);
}

#c3 {
  background-color: rgb(247, 175, 175);
}

#c4 {
  background-color: rgb(243, 243, 159);
}

#c5 {
  background-color: rgb(204, 212, 212);
}

#c6 {
  background-color: rgb(245, 209, 175);

}

h2 {
  margin-left: 20px;
}

ion-label {
  font-family: Georgia, 'Times New Roman', Times, serif;

}

.scroll-container {
  overflow-x: auto;
  -ms-overflow-style: none; /* Hide scrollbar in IE and Edge */
  scrollbar-width: none; /* Hide scrollbar in Firefox */
  margin-bottom: 20px;
}

.scroll-container::-webkit-scrollbar {
  display: none; /* Hide scrollbar in Chrome, Safari, and Opera */
}

.table-heading {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.heading-box {
  padding: 10px;
  background-color: #f2f2f2;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.table-wrapper {
  display: flex;
}

.option-table {
  border-collapse: collapse;
  width: 100%;
  margin-right: 20px;
}

.option-table th, .option-table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.option-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.put-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.put-table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.spacer {
  width: 20px;
}

.table-container {
  display: flex;
  flex-wrap: nowrap; /* Prevent tables from wrapping */
}

.call-table, .put-table {
  border-collapse: collapse;
  width: 45%; /* Adjust the width of the tables as needed */
}

.call-table th, .call-table td,
.put-table th, .put-table td {
  padding: 7px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.spacer {
  width: 5%; /* Adjust the width of the spacer as needed */
}
.scroll-container {
  overflow-x: auto;
  -ms-overflow-style: none; /* Hide scrollbar in IE and Edge */
  scrollbar-width: none; /* Hide scrollbar in Firefox */
}

.scroll-container::-webkit-scrollbar {
  display: none; /* Hide scrollbar in Chrome, Safari, and Opera */
}

.dropdown-container {
  display: flex;
  align-items: center;
  gap: 20px;
}
select {
  padding: 10px;
  font-size: 16px;
  width: 120px;
  border-radius: 10%;
  margin-left: 4px;
 
}
label{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
}
.tabs {
  display: flex;
  border-bottom: 1px solid #2fe1ee;
  margin-bottom: 10px;
  margin-left: 400px;
  text-indent: 10px;
  font-weight: bolder;
 
}

.tabs button {
  background: none;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s ease;
  color:green;
}

.tabs button:hover {
  background-color: #88e5f6;
}

.tabs button.active {
  border-bottom: 2px solid #007bff;
  font-weight: bold;
}

.tab-content {
  padding: 10px;
  border: 1px solid #ccc;
  border-top: none;
}
