
  <meta charset="utf-8">
  <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.0/dist/chart.min.js" defer></script>
<ion-header>
<app-charting></app-charting>
</ion-header>

<ion-content >

  <ion-segment [(ngModel)]="selectTabs">
    <ion-segment-button value="recent">
      <ion-label>List View</ion-label>
    </ion-segment-button>

    <ion-segment-button value="missed">
      <ion-label>Chart View</ion-label>
    </ion-segment-button>

    <ion-segment-button value="contact">
      <ion-label>Tile View</ion-label>
    </ion-segment-button>
    <ion-segment-button value="matrix">
      <ion-label>Matrix View</ion-label>
    </ion-segment-button>
    <ion-segment-button value="strategy">
      <ion-label>Strategy View</ion-label>
    </ion-segment-button>

    <ion-segment-button value="contacts">
      <ion-label>Research</ion-label>
    </ion-segment-button>
    </ion-segment>

    <div *ngIf="selectTabs === 'recent'">
      
    <h4>Option Chain</h4>

    <div class="scroll-container">
      <div class="table-heading">
        <div class="heading-box">
          <h2>Call</h2>
        </div>
        <div class="heading-box">
          <h2>Put</h2>
        </div>
      </div>
      <div *ngIf="optionschain" class="table-wrapper">
        <table class="call-table">
          <thead>
            <tr>
              <th>Contract Name</th>
              <th>Underlying Symbol</th>
              <th>Strike</th>
              <th>Last Price</th>
              <th>Bid</th>
              <th>Ask</th>
              <th>Change</th>
              <th>% Change</th>
              <th>Volume</th>
              <th>Open Interest</th>
              <th>Implied Volatility</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let option of optionschain">
              <tr>
                <td>{{ option.calls[0]?.contractSymbol }}</td>
                <td><span class="symbol" (click)="setClickedOptions( option.symbol)">{{ option.symbol }}</span></td>
                <td>{{ option.calls[0]?.strike }}</td>
                <td>{{ option.calls[0]?.lastPrice }}</td>
                <td>{{ option.calls[0]?.bid }}</td>
                <td>{{ option.calls[0]?.ask }}</td>
                <td>{{ option.calls[0]?.change }}</td>
                <td>{{ option.calls[0]?.percentChange }}</td>
                <td>{{ option.calls[0]?.volume }}</td>
                <td>{{ option.calls[0]?.openInterest }}</td>
                <td>{{ option.calls[0]?.impliedVolatility.toFixed(3) }}</td>
              </tr>
            </ng-container>
          </tbody>
        </table>
    
        <div class="spacer"></div>
    
        <table class="put-table">
          <thead>
            <tr>
              <th>Contract Name</th>
              <th>Underlying Symbol</th>
              <th>Strike</th>
              <th>Last Price</th>
              <th>Bid</th>
              <th>Ask</th>
              <th>Change</th>
              <th>% Change</th>
              <th>Volume</th>
              <th>Open Interest</th>
              <th>Implied Volatility</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let option of optionschain">
              <tr>
                <td>{{ option.puts[0]?.contractSymbol }}</td>
                <td><span class="symbol" (click)="setClickedOptions( option.symbol)">{{ option.symbol }}</span></td>
                <td>{{ option.puts[0]?.strike }}</td>
                <td>{{ option.puts[0]?.lastPrice }}</td>
                <td>{{ option.puts[0]?.bid }}</td>
                <td>{{ option.puts[0]?.ask }}</td>
                <td>{{ option.puts[0]?.change }}</td>
                <td>{{ option.puts[0]?.percentChange }}</td>
                <td>{{ option.puts[0]?.volume }}</td>
                <td>{{ option.puts[0]?.openInterest }}</td>
                <td>{{ option.puts[0]?.impliedVolatility.toFixed(3) }}</td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
    
    
</div>
    

<div *ngIf="selectTabs === 'missed'">
  <br>
      <div class="tabss">
        <button (click)="selectTab(1)" [class.active]="selectedTab === 1">CALL&PUTS</button>
       <button (click)="selectTab(3)" [class.active]="selectedTab === 3">OPENINTEREST</button>
        <button (click)="selectTab(4)" [class.active]="selectedTab === 4">VOLATILITY</button>

      </div>
      
      <div class="tab-contents" *ngIf="selectedTab === 1">
        <app-optionch></app-optionch> 
      </div>
      <div class="tab-contents" *ngIf="selectedTab === 3">
        <app-option-io></app-option-io>
      </div>
       <div class="tab-contents" *ngIf="selectedTab === 4">
        <app-volatility></app-volatility>      </div>
      
</div>

<div *ngIf="selectTabs === 'contact'" class="grid-container">
  <div class="tiles-container">
    <div [ngClass]="{'tile': true, 'call-tile': true}" *ngFor="let option of optionschain">
      <div class="tile-header">{{ option.symbol }}</div>
      <div class="tile-content">
        <div class="tile-row">
          <div class="tile-column">
            <p>Call - Strike</p>
            <b [ngStyle]="{'color': getStrikeColor(option.calls[index].strike, option.puts[index].strike, 'call')}">{{ option.calls[index].strike }}</b>
          </div>
          <div class="tile-column">
            <p>Call - Last Price</p>
            <b [ngStyle]="{'color': getLastPriceColor(option.calls[index].lastPrice, option.puts[index].lastPrice, 'call')}">{{ option.calls[index].lastPrice }}</b>
          </div>
        </div>
        <div class="tile-row">
          <div class="tile-column">
            <p>Put - Strike</p>
            <b [ngStyle]="{'color': getStrikeColor(option.calls[index].strike, option.puts[index].strike, 'put')}">{{ option.puts[index].strike }}</b>
          </div>
          <div class="tile-column">
            <p>Put - Last Price</p>
            <b [ngStyle]="{'color': getLastPriceColor(option.calls[index].lastPrice, option.puts[index].lastPrice, 'put')}">{{ option.puts[index].lastPrice }}</b>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="selectTabs === 'matrix'">
  <div>
    <label for="stock-select">Select Stock:</label>
    <select id="stock-select" (change)="onStockChange($event.target.value)">
      <option value="AAPL">AAPL</option>
      <option value="AMZN">AMZN</option>
    </select>
  </div>
  
  
  <div class="table-wrapper" *ngIf="stocks.length > 0; else noStocks">
    <table class="call-table">
      <thead>
        <tr>
          <th>SYMBOL</th>
          <th>EXPIRY</th>
          <th>PRICE</th>
          <th>LTP(CHG%)</th>
          <th>OI</th>
          <th>VOLUME</th>
          <th>IV</th>
          <th>DELTA</th>
          <th>THETA</th>
          <th>VEGA</th>
          <th>GAMMA</th>
          <th>STRIKE PRICE</th>
          <th>PRICE</th>
          <th>LTP(CHG%)</th>
          <th>OI</th>
          <th>VOLUME</th>
          <th>IV</th>
          <th>RATIO</th>
          <th>DELTA</th>
          <th>THETA</th>
          <th>VEGA</th>
          <th>GAMMA</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let stock of stocks">
          <tr>
            <td colspan="22"><strong>Symbol:</strong> {{ stock.symbol }}</td>
          </tr>
          <ng-container *ngFor="let optionArray of stock.Options">
            <ng-container *ngFor="let option of optionArray">
              <tr>
                <td>{{ stock.symbol }}</td>
                <td>{{ option['Expiration Date'] }}</td>
                <td>{{ option['Call-Price'] }}</td>
                <td>{{ option['Call-Change in Price (%)'] }}</td>
                <td>{{ option['Call-Open Interest'] }}</td>
                <td>{{ option['Call-Volume'] }}</td>
                <td>{{ option['Call-Implied Volatility'] }}</td>
                <td>{{ option['Greeks: Call Delta'] }}</td>
                <td>{{ option['Greeks: Call Theta'] }}</td>
                <td>{{ option['Greeks: Call Vega'] }}</td>
                <td>{{ option['Greeks: Call Gamma'] }}</td>
                <td>{{ option['Strike Price'] }}</td>
                <td>{{ option['Put-Price'] }}</td>
                <td>{{ option['Put-Change in Price (%)'] }}</td>
                <td>{{ option['Put-Open Interest'] }}</td>
                <td>{{ option['Put-Volume'] }}</td>
                <td>{{ option['Put-Implied Volatility'] }}</td>
                <td>{{ option['Put-Call Ratio'] }}</td>
                <td>{{ option['Greeks: Put Delta'] }}</td>
                <td>{{ option['Greeks: Put Theta'] }}</td>
                <td>{{ option['Greeks: Put Vega'] }}</td>
                <td>{{ option['Greeks: Put Gamma'] }}</td>
              </tr>
            </ng-container>
          </ng-container>
        </ng-container>
      </tbody>
    </table>
  </div>
  <ng-template #noStocks>
    <p>No stocks available.</p>
  </ng-template>
  
</div>

<div *ngIf="selectTabs === 'strategy'">
  <app-vol-chart></app-vol-chart>

</div>
<!-- <p>Last Updated: <span id="last-updated"></span></p> -->

<div *ngIf="selectTabs === 'contacts'">
  <div class="container">
    <!-- Sidebar with Details Menu -->
    <div class="sidebar">
      <details (toggle)="showContent('OPEN INTEREST', $event)">
        <summary [class.active]="activeContent === 'OPEN INTEREST'">OPEN INTEREST</summary>
      </details>
      <details (toggle)="showContent('VOLATILITY', $event)">
        <summary [class.active]="activeContent === 'VOLATILITY'">VOLATILITY</summary>
      </details>
      <details (toggle)="showContent('NEWS', $event)">
        <summary [class.active]="activeContent === 'NEWS'">NEWS</summary>
      </details>
      <details (toggle)="showContent('MARKET HOURS', $event)">
        <summary [class.active]="activeContent === 'MARKET HOURS'">MARKET HOURS</summary>
      </details>
      <details (toggle)="showContent('OPTION STRIKE PEGGER', $event)">
        <summary [class.active]="activeContent === 'OPTION STRIKE PEGGER'"> STRIKE PEGGER</summary>
      </details>
      <details (toggle)="showContent('OPTION GAINERS & LOSERS', $event)">
        <summary [class.active]="activeContent === 'OPTION GAINERS & LOSERS'"> GAINERS & LOSERS</summary>
      </details>
      <details (toggle)="showContent('MOST ACTIVE OPTIONS', $event)">
        <summary [class.active]="activeContent === 'MOST ACTIVE OPTIONS'">MOST ACTIVE OPTIONS</summary>
      </details>
    </div>

    <!-- Content Display Area -->
    <div class="content-area">
      <div *ngIf="activeContent === 'OPEN INTEREST'">
        <app-option-io></app-option-io>
      </div>
      <div *ngIf="activeContent === 'VOLATILITY'">
        <app-volatility></app-volatility>
      </div>
      <div *ngIf="activeContent === 'NEWS'">
        <app-optionnews></app-optionnews>
      </div>
      <div *ngIf="activeContent === 'MARKET HOURS'">
        <app-nifty></app-nifty>
      </div>
      <div *ngIf="activeContent === 'OPTION STRIKE PEGGER'">
        <app-opstrike-pegger></app-opstrike-pegger>
      </div>
      <div *ngIf="activeContent === 'OPTION GAINERS & LOSERS'">
        <app-optiongainers></app-optiongainers>
      </div>
      <div *ngIf="activeContent === 'MOST ACTIVE OPTIONS'">
        <app-active-options></app-active-options>
      </div>
    </div>
  </div>
</div>

</ion-content>





















