<div class="widgets-container">
  <div class="tradingview-widget-container">
    <div class="tradingview-widget-container__widget" id="widget-aapl"></div>
    <div class="tradingview-widget-copyright"></div>
  </div>
  <div class="tradingview-widget-container">
    <div class="tradingview-widget-container__widget" id="widget-amzn"></div>
    <div class="tradingview-widget-copyright"> </div>
  </div>
  <div class="tradingview-widget-container">
    <div class="tradingview-widget-container__widget" id="widget-googl"></div>
    <div class="tradingview-widget-copyright"> </div>
  </div>
  <div class="tradingview-widget-container">
    <div class="tradingview-widget-container__widget" id="widget-msft"></div>
    <div class="tradingview-widget-copyright"> </div>
  </div>
</div>

