<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons><ion-back-button defaultHref="/tabs/tab2"></ion-back-button>
    <ion-title>Forex Market Hours</ion-title>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<!-- myfxbook.com Market Hours Widget - Start -->
<iframe src="https://widget.myfxbook.com/widget/market-hours.html" style="border: 0; width:100%; height:100%;"></iframe><div style="margin-top: 30px;">
  <div style="width: fit-content; margin: auto;font-family: roboto,sans-serif!important; font-size: 13px; color: #666666;">
   <a href="https://www.myfxbook.com/market-hours" title="Forex Market Hours" class="myfxbookLink" target="_blank" rel="noopener"><b style="color:#666666">Market Hours</b></a>
   by Myfxbook.com
  </div></div>
<!-- myfxbook.com Market Hours Widget - End -->
</ion-content>
