<div *ngFor="let forex of forexs">
  <input type="radio" name="forexSymbol" [value]="forex.symbol" (change)="onSymbolChange($event)" /> {{ forex.symbol }}
</div>

<div *ngIf="selectedSymbol" [ngClass]="selectedTheme">
  <div class="theme-toggle">
    <label class="switch">
      <input type="checkbox" (change)="onThemeToggle($event)">
      <span class="slider round"></span>
    </label>
    <span>{{ selectedTheme === 'light' ? 'Light Theme' : 'Dark Theme' }}</span>
  </div>
  <igx-financial-chart
    width="100%"
    height="500px"
    [dataSource]="forexData[selectedSymbol]"
    chartType="Candle"
    xAxisMode="Time"
    yAxisMode="Numeric">
  </igx-financial-chart>
</div>
